<h2>Form for</h2>
<h3>{{ pdf }}</h3>

<form method="post" action="/fill" class="form form-horizontal">
  <input type="hidden" name="pdf" value="{{ pdf }}" />
{% for field in fields %}
  <div class="control-group">
    <label for="{{ field }}" class="control-label">{{ field }}</label>
    <div class="controls">
      <input type="text" name="{{field}}" id="{{ field }}" placeholder="{{field}}" />
    </div>
  </div>
{% endfor %}
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Submit" />
    </div>
  </div>
</form>