<h2>Form for</h2>
<h3>{{ pdf | strip_html }}</h3>
<div id="fields"></div>

<form method="post" action="/fill" class="form form-horizontal">
  <input type="hidden" name="pdf" value="{{ pdf }}" />
{% for field in fields %}
  {% assign label = field.FieldNameAlt || field.FieldName %}
  <div class="control-group">
    <label for="{{ field.FieldName | escape }}" class="control-label">{{ label | strip_html }}</label>
    <div class="controls">
      <input type="text" name="{{ field.FieldName | replace:"[","%5B" | replace:"]","%5D" | escape }}" id="{{ field.FieldName | escape }}" />
    </div>
  </div>
{% endfor %}
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Submit" />
    </div>
  </div>
</form>

<script type="text/template" id="text_field">
    <div class="control-group">
    <label for="<% FieldName %>" class="control-label"><% FieldNameAlt %></label>
    <div class="controls">
      <input type="text" name="<% FieldName %>" id="<% FieldName %>" />
    </div>
  </div>
</script>